**Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.**

In [1]:
import pandas as pd
new_series = pd.Series([4,8,15,16,23,42])
print(new_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

**Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.**

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
next_series = pd.Series(my_list)
print(next_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

**Q3. Create a Pandas DataFrame that contains the following data:**

![image.png]()

Then, print the DataFrame.

In [9]:
my_dict = {
    'name':['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

my_data = pd.DataFrame(my_dict)
print(my_data)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

**Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.**

**Answer**

In Pandas, a DataFrame is a two-dimensional tabular data structure with rows and columns, where each column can have a different data type (e.g., integer, float, string, etc.). A DataFrame is the most commonly used data structure in Pandas.

On the other hand, a pandas.Series is a one-dimensional labeled array that can hold data of any type (e.g., integer, float, string, etc.). It can be thought of as a single column of a spreadsheet. A Series has an index that allows for fast and efficient data retrieval.

In [11]:
# print the DataFrame
print(my_data)

# create a Series from the 'name' column of the DataFrame
name_series = my_data['name']

# print the Series
print(name_series)

     name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
0     Alice
1       Bob
2    Claire
Name: name, dtype: object

**Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?**

**Answer:**

There are many common functions you can use to manipulate data in a Pandas DataFrame. Here are some examples:

drop(): to drop rows or columns from a DataFrame based on a specified axis and labels.

fillna(): to fill missing values in a DataFrame with a specified value or method. 

groupby(): to group rows in a DataFrame based on one or more columns. 

merge(): to merge two or more DataFrames based on a common key. 

sort_values(): to sort a DataFrame by one or more columns. 

pivot_table(): to create a spreadsheet-style pivot table based on a DataFrame. 

**Example:**
You might use pivot_table() function to summarize data by category and then compare the results across categories and sort_values() function to sort a DataFrame by date or by a numeric column in ascending or descending order.

**Q6. Which of the following is mutable in nature Series, DataFrame, Panel?**

**Answer:**

In pandas library, both Series and DataFrame are mutable objects whereas Panel is considered as an immutable object.

We can modify the values of Series and DataFrame after they are created. However, once a Panel is created, its values cannot be changed.

**Q7.Create a DataFrame using multiple Series. Explain with an example.**

In [12]:
import pandas as pd

make = pd.Series(['Honda', 'Toyota', 'Ford', 'Chevrolet', 'BMW'])
model = pd.Series(['Civic', 'Camry', 'Mustang', 'Cruze', 'M3'])
year = pd.Series([2018, 2019, 2017, 2018, 2020])
price = pd.Series([15000, 20000, 18000, 17000, 40000])

In [14]:
cars = pd.concat([make, model, year, price], axis=1, keys=['Make', 'Model', 'Year', 'Price'])
cars.head()

        Make    Model  Year  Price
0      Honda    Civic  2018  15000
1     Toyota    Camry  2019  20000
2       Ford  Mustang  2017  18000
3  Chevrolet    Cruze  2018  17000
4        BMW       M3  2020  40000

we have created a DataFrame called cars by concatenating the make, model, year, and price Series along the columns axis. We have specified the column names using the keys parameter, which creates a dictionary-like mapping between the keys and the Series.